<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Selenium.Chrome.WebDriver" version="2.25" targetFramework="net45" />
  <package id="Selenium.Support" version="3.0.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="3.0.0" targetFramework="net45" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.25.0.0" targetFramework="net45" />
  <package id="Selenium.WebDriver.IEDriver" version="3.0.0.0" targetFramework="net45" />
  <package id="SeleniumWebDrivers" version="1.0.0.4" targetFramework="net45" />
  <package id="SpecFlow" version="2.1.0" targetFramework="net45" />
  <package id="SpecFlow.MsTest" version="2.1.0" targetFramework="net45" />
  <package id="WebDriver.GeckoDriver" version="0.9.0" targetFramework="net45" />
  <package id="WebDriverChromeDriver" version="2.10" targetFramework="net45" />
</packages>